<html>
   <body>
        <H1><%= aRestaurant.name %></H1>
        <br>
        <br>
        <p>Borough: <%= aRestaurant.borough %></p>
        <p>Cuisine: <%= aRestaurant.cuisine %></p>
        <p>Street: <%= aRestaurant.street %></p>
        <p>Building: <%= aRestaurant.building %></p>
        <p>Zipcode: <%= aRestaurant.zipcode %></p>
        <p>GPS: <%= aRestaurant.coord %></p>
        <p>Rating: <%= aRestaurant.ratings %></p>
        <p>Create by: <%= aRestaurant.create_by %></p>
        <br>
        <a href='/'>Back to main page</a>
        <br>
        <a href='/logout'>Logout</a>
   </body>
</html>