<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rating - 0P3NR1C3</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">0P3NR1C3</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log OUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="padding-top: 90px;padding-left: 28px;padding-right: 28px;">
        <div>
            <form class="bootstrap-form-with-validation" action="/rate?_id=<%= aRestaurant._id %>" method="post">
                <h2 class="text-center">Rating</h2> 
                <div class="form-group"><label for="text-input">Score (0-10):</label><input class="form-control" type="text" id="score" pattern="[1-9]|10" min="0" max="10" name="score"></div>
                <input type="hidden" name="_id" value="<%= aRestaurant._id %>" disabled>
                <input type="hidden" name="name" value="<%= aRestaurant.name %>" disabled>
                <div class="form-group d-xl-flex justify-content-xl-start"><button class="btn btn-primary bg-dark border-dark" type="submit" style="margin-right: 20px;" 
                <% if (is_rated) { %>
                    disabled
                    value="Rate(You have rated)"
                <% }else{ %>
                    value="Rate"
                <% } %> >Rate</button></div>
                <div class="form-group d-xl-flex justify-content-xl-start"><button class="btn btn-primary bg-dark border-dark" type="submit" style="margin-right: 20px;" onclick="location.href='/'">Back To Home Page</button></div>
            </form>
        </div>
    </section>
    <footer class="py-5 bg-black" style="bottom:0;position: absoloute;width:100%">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Team Invalid 2020</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>>
=======
<html>
<head>
    <title>Rate restaurant</title>
</head>
<body>
	<h1>Rate</h1>
	<form action="/rate?_id=<%= aRestaurant._id %>" method="post">
		Score: <input type="text" pattern="[1-9]{1}" name="score"><br>
        <br>
        <input type="hidden" name="_id" value="<%= aRestaurant._id %>" disabled>
        <input type="hidden" name="name" value="<%= aRestaurant.name %>" disabled>
        <input type="submit" 
            <% if (is_rated) { %>
                disabled
                value="Rate(You have rated)"
            <% }else{ %>
                value="Rate"
            <% } %> 
        >
                

    </form>
    <br>
    <input type='button' value='Back to main page' onclick="location.href='/'">
    <br>
    <button onclick="location.href='/logout'">Logout</button>
>>>>>>> aef744e268f4aede9bfd5317208a3fd19b197f2b
</body>

</html>